<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
<display-name>app8</display-name>
<welcome-file-list>
<welcome-file>index.html</welcome-file>
<welcome-file>index.htm</welcome-file>
<welcome-file>index.jsp</welcome-file>
<welcome-file>default.html</welcome-file>
<welcome-file>default.htm</welcome-file>
<welcome-file>default.jsp</welcome-file>
</welcome-file-list>
<servlet>
<description></description>
<display-name>ConfigServlet</display-name>
<servlet-name>configServlet</servlet-name>
<servlet-class>ConfigServlet</servlet-class>
<init-param>
<param-name>driver_Class</param-name>
<param-value>oracle.jdbc.OracleDriver</param-value>
</init-param>
<init-param>
<param-name>driver_URL</param-name>
<param-value>jdbc:oracle:thin:@localhost:1521:xe</param-value>
</init-param> 
<init-param>
<param-name>db_User_Name</param-name>
<param-value>system</param-value>
</init-param>
<init-param>
<param-name>db_Password</param-name>
<param-value>oracle</param-value>
</init-param>
</servlet>
<servlet-mapping>
<servlet-name>ConfigServlet</servlet-name>
<url-pattern>/config</url-pattern>
</servlet-mapping>
</web-app>
